.faqContainer{
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  align-items: start;
}

.faqContainer h2{
  font-size: 22px;

}

.answer{
  font-size: 17px;
  margin-bottom: 4px;
}

.answer span{
  text-decoration: underline;
}

h1{
  text-align: center;
}

.question{
  font-size: 32px;
}
  

.feature_containers{
  display: grid;
  grid-template-columns: 400px 400px 400px;
  /* grid-template-rows: 2; */
}

.feature_container1{
  padding: 32px;
  width: 310px;
  height: 450px;
  border: 1px solid rgb(168, 85, 247);
  border-radius: 12px;
  margin-top: 60px;
}


.feature_containers h1{
  border-bottom: 1px solid rgb(168, 85, 247);
  padding-bottom: 50px;
}

.feature_container2{
  border: 1px solid rgba(229, 231, 235, 0.365);
}

.feature_container2 h1{
  border-bottom-color: rgba(229, 231, 235, 0.365);
}

.feature_containers li{
  margin: 10px;
  color: rgb(209, 213, 219);
  list-style-type: '✔';
  padding-inline-start: 1ch;
}


/* ul */
ul{
  padding-left: 10px;
  margin-bottom: 5px;
}