*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  display: flex;
   justify-content: center;
  align-items: center;
}
.bg-video{
  position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
 }
 select{
  cursor: pointer;
  background-color: transparent;
  padding: 10px;
  width: 150px;
  text-align: center;
    }
#selto{
  font-family: monospace;
  color:rgb(0, 240, 180);
 border-color: transparent;
  }
  .container_box{
    align-items: center;
   
  }
  /* media / video style */
  @media (min-aspect-ratio:16/9){
    .bg-video{
      width: 100%;
      height: auto;
    }
  } 
  @media (max-aspect-ratio:16/9){
    .bg-video{
      width: auto;
      height: 100%;
    }
  }
  /* timer style */
.timer {
  font-family: sans-serif;
  display: inline-block;
  padding: 24px 32px;
  border-radius: 30px;
  background: transparent;
}

.timer__part {
  font-size: 36px;
  font-weight: bold;
  color: rgb(255, 190, 69);
}

.timer__btn {
  width: 50px;
  height: 50px;
  margin-left: 16px;
  border-radius: 50%;
  border: none;
  color: rgb(130, 5, 5);
  background-color: white;
  cursor: pointer;
}

.timer__btn--start {
  background: white;
  color:  rgb(130, 5, 5);
}

.timer__btn--stop {
  background: transparent;
  color: wheat;
}
